<div class="container" background="black">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/productCatalog'>Products</a></li>
                <li><a href='/'>About</a></li>
                <li><a href='/'>Contact</a></li>
                <li><a href='/login'>Login</a></li>
            </ul>
        </nav>
    </div>
</div>