<%- include('./partials/header') %>
  <div class="container">
      
      <div class="row">
          <div class="col-2">
              <h1>Give Your Workout <br>A New Style!</h1>
              <p>Success isn't always about greatness, It's about consistency. <br> 
                  Consistent hard work gains 
                  success. <br> Greateness will come</p>
          </div>
      </div>
  </div>
</body>
<body>
  <style>
      body {
          background-image: url("images/main-background.jpg");
          height: 100%;
          background-attachment: fixed;
          background-size: cover;
          background-repeat: no-repeat;
      }
  </style>
  </body>
<body>
  <form action='/' method="post">
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <% if(message.length > 0) { %>
          <div class = "alert" role = "alert">
              <%= message %>
          </div>
        <%} %>
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

    
      <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="/contact">password?</a></span>
      </div>
      <div class="container" style="background-color:#f1f1f1">
          <a class="nav-link" href="/productCatalog">Continue Shopping as Guest <span class="sr-only">(current)</span></a>
      </div>
    </form>
<%- include('./partials/footer') %>