<%- include('./partials/header') %>
<div class="container-fluid border rounded p-4 m-2 col-lg-4 mx-auto">
    <form action='/insertForm' method="POST">
      <h5 class="text-primary">Add Product</h5>
        <div class="container">
          <label for="productName"><b>Product Name</b></label>
          <input class="form-control" type="text" placeholder="Enter Product Name" name="productName" required>

          <label for="productType"><b>Product Type</b></label>
          <input class="form-control" type="text" placeholder="Enter Product Type" name="productType" required>

          <label for="productDesc"><b>Product Description</b></label>
          <input class="form-control" type="text" placeholder="Enter Product Description" name="productDesc" required>

          <label for="price"><b>Product Price</b></label>
          <input class="form-control" type="text" placeholder="Enter Product Price" name="price" required>

          <label for="productQuantity"><b>Product Quantity</b></label>
          <input class="form-control" type="text" placeholder="Enter Product Qunatity" name="productQuantity" required>

          <label for="discount"><b>Initial Discount</b></label>
          <input class="form-control" type="text" placeholder="Enter Product Discount" name="discount" required>
          <br>
          <button class ="btn btn-success" style="font-size: 20px;" type = "submit" href="/">Insert</button>
        </div>
        <br>
        <div class="container" style="background-color:#f1f1f1" a href='/'>
          Go Back
        </div>
      </form>
    </div>
<%- include('./partials/footer') %>