
<%- include('./partials/header') %>

<div class="container-fluid border col-lg-4 col-md-5 mt-5 p-4 shadow-sm" >	
    <form method="post" action="/Login?handler=Login">
        <center>
            <h1><i class="fa fa-user"></i></h1>
            <h3>Log In</h3>
            <div>Sweat Shop</div>
        </center>
        <br>
    
        <div class="mb-3">
          <input autocomplete="off" name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" autofocus required>
        </div> 

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Password</span>
          <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
        </div>

        <br>
        <div class="row">
            <button class="btn btn-primary" style="font-size: 20px;">Sign in</button>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MjrWCEO5XFGvLc32d5SexxjYkkKpkD1BZPahOOy52Ri2QxwQxfPKRZqICVlYuJ9RPbYmPmDx8Nrtc_QJI6epOxO7QOfCz3oqV9Hs72lxM1VPehGWw9DAlQqLDGP4_ly5K78WEeHr3o0GAV5PCbpjCU">
    </form>
</div>
<%- include('./partials/footer') %>