<%- include('./partials/header') %>
  <div class="container">
      
      <div class="row">
          <div class="col-2">
              <h1>Give Your Workout <br>A New Style!</h1>
              <p>Success isn't always about greatness, It's about consistency. <br> 
                  Consistent hard work gains 
                  success. <br> Greateness will come</p>
          </div>
      </div>
  </div>
</body>
<body>
  <style>
      body {
          background-image: url("images/main-background.jpg");
          height: 100%;
          background-attachment: fixed;
          background-size: cover;
          background-repeat: no-repeat;
      }
  </style>

<%- include('./partials/footer') %>